.ZipCode {
    height: 55vh;
    text-align: center;
    
}

.information {
    margin: auto;
    text-align: center;
}

li {
    display: inline;
    font: 200 17px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    
    
}

.section {
    float: left;
    padding-left: 40px;
}


